#데이터톤

["훈민정음에 스며들다"-대화요약 역량평가](https://dacon.io/competitions/official/235818/overview/description)
<br/>[AI HUB 한국어 대화 요약](https://aihub.or.kr/aidata/30714)

개발 환경
<br/>데이터 정보
<br/>Json Parsing
<br/>CSV 변환
<br/>참고문헌

#개발 환경

In [ ]:
gpu_info = !nvidia-smi
gpu_info = '\n'.join(gpu_info)
if gpu_info.find('failed') >= 0:
  print('Not connected to a GPU')
else:
  print(gpu_info)

In [ ]:
from psutil import virtual_memory
ram_gb = virtual_memory().total / 1e9
print('Your runtime has {:.1f} gigabytes of available RAM\n'.format(ram_gb))

if ram_gb < 20:
  print('Not using a high-RAM runtime')
else:
  print('You are using a high-RAM runtime!')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import json

JSON은 Key-value를 양식을 가지는 텍스트 파일로 인터넷 상의 서버-클라이언트의 데이터 교환에 사용된다. 
<br/>Python에서는 json 모듈을 지원하고 있으면 인코딩/디코딩을 지원하고 있고, JSON 데이터와 Python 데이터는 1:1로 맵핑되어 사용하기 쉽다.

JSON(JavaScript Object Notation)은 속성-값 쌍(attribute–value pairs and array data types (or any other serializable value))
<br/>또는 "키-값 쌍"으로 이루어진 데이터 오브젝트를 전달하기 위해 인간이 읽을 수 있는 텍스트를 사용하는 개방형 표준 포맷입니다.
<br/>비동기 브라우저/서버 통신 (AJAX)을 위해, 넓게는 XML(AJAX가 사용)을 대체하는 주요 데이터 포맷이다.

#데이터 정보

In [ ]:
event_json_path = '/content/drive/MyDrive/Dataton/kor_sum_train/행사.json'

with open(event_json_path, 'r') as event_json_file:
  event_json_sample = json.load(event_json_file)

한국어 대화 요약 데이터는 크라우드 소싱을 통해 수집한 35만 건이다.
<br/>크라우드 워커에 의해 대화 조각을 기준에 맞게 나누고
<br/>비식별화를 수행한 데이터는 이후 가공 과정을 통해 메타 정보와 요약문을 어노테이션하였다.

(최소 4턴 이상의) 대화원문 + 요약문 35만건 (JSON파일, UTF-8 인코딩)
<br/>오픈 도메인 일상대화주제로 구성

대화 텍스트는 문어 중심으로 개발된 기존의 자연어처리
<br/>기술의 적용에 한계가 있어, 문어에 특화된 데이터셋의 구축이 필수적으로 요청된다.
* 비대면 상황에서 컴퓨터를 매개로 하여 이루어지는 SNS 대화의 경우에도 구어적 속성
* 문장 성분의 생략, 축약적 표현의 사용

##대화 매체

본 과제의 원천 데이터는 대중들의 일상생활에서 가장 널리 쓰이는 카카오톡을 이용하여
<br/>이루어진 대화 원문으로 선정하여 포괄성을 확보한다.

원시데이터는 카카오톡에서 이루어진 대화를 “대화 내용 내보내기” - “텍스트 메시지만 보내기” 기능에 의해
<br/>생성된 플레인 텍스트 파일 형태이다.

**관련 연구**
<br/>박일섭. 2019. 《메신저 대화 자료 수집 및 말뭉치 구축》. 국립국어원.

##대화 분포

|대화 주제|빈도|분포|
|------|---|---|
|개인 및 관계|1,887|18.87%|
|식음료|1,283|12.83%|
|주거와 생활|1,242|12.42%|
|상거래(쇼핑)|1,228|12.28%|
|행사|1,150|11.50%|
|여가 생활|1,066|10.66%|
|미용과 건강|927 | 9.27%|
|일과 직업|724|7.24%|
|시사/교육|493|4.93%|
|합계|10,000|100.00%|

그 중에서 행사.json 파일을 불러온다.

대화 주제 분포에서 '행사'는 11.50%를 차지한다.

##대화 내용

일상 대화와 토론 대화에서는 다양한 주제가 다루어질 수 있는데
<br/>본 과제에서는 최대한 다양한 내용을 담기 위해 
<br/>기존 유사 사업에서 제시한 대화 주제 분류를 재분류하고 최대한 골고루 수집될 수 있도록 함

대분류 : 행사

소분류 : 초대, 방문, 소개팅, 약속, 가족 및 친척 행사, 공적 행사, 사적 모임(친목 모임),
<br/>여행 장소 및 경로, 여행 계획(일정, 숙소, 교통편, 여행 경비), 여행팁, 기념품,
여행사 및 여행 상품

##데이터 포맷

{
<br/>“header”: {
<br/>“dialogueInfo”: {
<br/>“dialogueID”: “D000001”,
<br/>“numberOfParticipants”: 3,
<br/>“numberOfUtterances”: 5,
<br/>“numberOfTurns”: 2,
<br/>“type”: “일상대화”,
<br/>“topic”: “행사”
<br/><br/>“participants”: [
<br/>{
<br/>“participantID”: “P1”,
<br/>“gender”: “남”,
<br/>“age”: “50대”,
<br/>“residentialProvince”: “서울”
<br/>},
<br/><br/>...
<br/><br/>]
<br/>},
<br/><br/>“body”: {
<br/>“dialogue”: [
<br/>{
<br/>“utteranceID”: “U1”,
<br/>“turnID”: “T1”
<br/>“participantID”: “P1”,
<br/>“date”: “2020-07-23”
<br/>“time”: “10:52:02”,
<br/>“utterance”: “내일이 #@이름# 엄마 생일임.”
<br/>},
<br/><br/>...
<br/><br/>]
<br/>“summary”: “엄마 생일을 맞아 모두 모여 외식할 수 있는 저녁 식사 시간을 정하고 있
다.”
<br/>}
<br/>}

In [ ]:
type(event_json_sample)

dict

In [ ]:
event_json_sample.keys()

dict_keys(['numberOfItems', 'data'])

In [ ]:
for key in event_json_sample.keys():
  print(key)

numberOfItems
data

In [ ]:
event_json_sample['numberOfItems']

20720

numberOfItems은 대화의 순서(번호)

data는 각 대화

In [ ]:
type(event_json_sample['numberOfItems'])

int

In [ ]:
type(event_json_sample['data'])

list

In [ ]:
event_json_sample['data'][0].keys()

dict_keys(['header', 'body'])

data에서 header는 대화와 화자에 대한 정보

body는 각 turn에 대한 정보

#Json Parsing

In [ ]:
event_json_sample_dialogue_list = []

In [ ]:
for i in event_json_sample['data'] :
  event_json_sample_body = i['body']
  for j in event_json_sample_body :
    event_json_sample_dialogue = event_json_sample_body['dialogue']
    event_json_sample_dialogue_list.append(event_json_sample_dialogue)

In [ ]:
event_json_sample_dialogue_df = pd.DataFrame(event_json_sample_dialogue_list)

In [ ]:
event_json_sample_dialogue_df[0:1]

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,"{'utterance': '#@시스템#사진#', 'utteranceID': 'U1'...","{'utterance': '비행시간봐', 'utteranceID': 'U2', 'p...","{'utterance': '엄청나게 오래걸리네', 'utteranceID': 'U3...","{'utterance': 'ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ', 'utteranceID': 'U...","{'utterance': '비행기에서', 'utteranceID': 'U5', 'p...","{'utterance': '하루 잔다고 생각해', 'utteranceID': 'U6...","{'utterance': '그래 이때 아니면', 'utteranceID': 'U7'...","{'utterance': '언제 가보겠냐', 'utteranceID': 'U8', ...","{'utterance': '이번이 기회다', 'utteranceID': 'U9', ...","{'utterance': '그래 바로 결제 고고!!', 'utteranceID': ...",...,None,None,None,None,None,None,None,None,None,None

In [ ]:
event_json_sample_dialogue_df2 = event_json_sample_dialogue_df.iloc[::2,:]

In [ ]:
event_json_sample_dialogue_df2[:1]

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,"{'utterance': '#@시스템#사진#', 'utteranceID': 'U1'...","{'utterance': '비행시간봐', 'utteranceID': 'U2', 'p...","{'utterance': '엄청나게 오래걸리네', 'utteranceID': 'U3...","{'utterance': 'ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ', 'utteranceID': 'U...","{'utterance': '비행기에서', 'utteranceID': 'U5', 'p...","{'utterance': '하루 잔다고 생각해', 'utteranceID': 'U6...","{'utterance': '그래 이때 아니면', 'utteranceID': 'U7'...","{'utterance': '언제 가보겠냐', 'utteranceID': 'U8', ...","{'utterance': '이번이 기회다', 'utteranceID': 'U9', ...","{'utterance': '그래 바로 결제 고고!!', 'utteranceID': ...",...,None,None,None,None,None,None,None,None,None,None

0 ~ 1행.  2 ~ 3행, 4 ~ 5행으로 2행씩 내용이 중복되므로
<br>홀수행을 제외한다.

dialogue에 속한 각 turn을 한 행에 정렬한다.
<br/>turn의 순서에 따라 열이 정렬된다.

In [ ]:
event_json_sample_dialogue_df2['text'] = event_json_sample_dialogue_df2.apply(lambda row: ':'.join(row.values.astype(str)), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

trun으로 나누어진 여러 개의 컬럼을 하나로 합친다.

In [ ]:
import re

In [ ]:
event_json_sample_dialogue_df2['text2'] = [re.sub('[^가-힣]', ' ', s) for s in event_json_sample_dialogue_df2['text']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

문자열 중에서 한글을 추출한다.

In [ ]:
event_json_sample_dialogue_df2['text2']

0                         시스템 사진                       ...
2                       아 그 호텔                         ...
4                       오 이래도 되나 싶을정도로 신호에 걸리는군        ...
6                                으로 봄 일단               ...
8                       근데 나는 원주간다                     ...
                               ...
41430                   세상 진짜 좁은게 나 동네 산책모임있는데         ...
41432                   그리고 나 부산 갈 것 같은데               ...
41434                   우리 여름되기전에                      ...
41436                     이름    오늘 도시락 싸오셧나유           ...
41438                   너 이제 도쿄 얼마 안남은거                ...
Name: text2, Length: 20720, dtype: object

In [ ]:
event_json_sample_dialogue_df2['text2'][0]

'                 시스템 사진                                                                                                                          비행시간봐                                                                                                                         엄청나게 오래걸리네                                                                                                                                                                                                                                                             비행기에서                                                                                                                         하루 잔다고 생각해                                                                                                                         그래 이때 아니면                                                                                                                         언제 가보겠냐                                                                                                                         이번이 기회다                                                                                                                         그래 바로 결제 고고                                                                                                                                                                                                                '

하나의 행을 출력해서 trun 사이의 공백의 간격이 넓은 것을 확인한다.

In [ ]:
event_json_sample_dialogue_df3_list = []

In [ ]:
for i in event_json_sample_dialogue_df2['text2']:
  event_json_sample_dialogue_df3 = re.sub(r'[" "]+', " ", i)
  event_json_sample_dialogue_df3_list.append(event_json_sample_dialogue_df3)

In [ ]:
event_json_sample_dialogue_df3_text = pd.DataFrame(event_json_sample_dialogue_df3_list)

In [ ]:
event_json_sample_dialogue_df3_text.head()

                                                   0
0   시스템 사진 비행시간봐 엄청나게 오래걸리네 비행기에서 하루 잔다고 생각해 그래 이...
1   아 그 호텔 나도 예약할 지경이야 이면 옆방으로다가요 그래도 괜찮은 호텔인데 뭐지...
2   오 이래도 되나 싶을정도로 신호에 걸리는군 내려서 뛰가는게 빠를듯 웨이팅 많아 걸...
3   으로 봄 일단 왜죠 나 월 일부터 쉰다구 근데 월 일이 목욜이라서 우리 이틀밖에 ...
4   근데 나는 원주간다 엥 금 갑자기 왜가 진짜 갑자기 감다 아빠가 갑자기 가쟤 사촌...

trun 사이의 중복 공백을 공백 간격 1칸으로 통일한다.

In [ ]:
event_json_sample_dialogue_df3_text.columns = ['text']

In [ ]:
event_json_sample_dialogue_df3_text.head()

                                                text
0   시스템 사진 비행시간봐 엄청나게 오래걸리네 비행기에서 하루 잔다고 생각해 그래 이...
1   아 그 호텔 나도 예약할 지경이야 이면 옆방으로다가요 그래도 괜찮은 호텔인데 뭐지...
2   오 이래도 되나 싶을정도로 신호에 걸리는군 내려서 뛰가는게 빠를듯 웨이팅 많아 걸...
3   으로 봄 일단 왜죠 나 월 일부터 쉰다구 근데 월 일이 목욜이라서 우리 이틀밖에 ...
4   근데 나는 원주간다 엥 금 갑자기 왜가 진짜 갑자기 감다 아빠가 갑자기 가쟤 사촌...

In [ ]:
event_conversation_df = event_json_sample_dialogue_df3_text[:10000]

In [ ]:
event_conversation_df

                                                   text
0      시스템 사진 비행시간봐 엄청나게 오래걸리네 비행기에서 하루 잔다고 생각해 그래 이...
1      아 그 호텔 나도 예약할 지경이야 이면 옆방으로다가요 그래도 괜찮은 호텔인데 뭐지...
2      오 이래도 되나 싶을정도로 신호에 걸리는군 내려서 뛰가는게 빠를듯 웨이팅 많아 걸...
3      으로 봄 일단 왜죠 나 월 일부터 쉰다구 근데 월 일이 목욜이라서 우리 이틀밖에 ...
4      근데 나는 원주간다 엥 금 갑자기 왜가 진짜 갑자기 감다 아빠가 갑자기 가쟤 사촌...
...                                                 ...
9995   코스요리나오면서 식보는거야 먹으면서동시에 엄청비싸겠다 코스면 모르지 식 다보고 가...
9996   삼성역 내일 볼까 오호 머리 다자르면 시 반쯤 될텐뎅 아닌가 시인가 삼성역에서 보...
9997   오늘데이트는 꽝인건가요 데이트는 강행입니다 맛난거 사드리지요 아니야 돈도없는데 집...
9998   너 졸업 여름에하지마 땀나서 머리 다 망함 이모티콘 그리고 졸업사진 찍으러가서 이...
9999   아 마쟈 이름 나 방탈출 취소 까먹음 갑자기 전화와서 놀랐네 언능 해야게따 아아아...

[10000 rows x 1 columns]

20720개의 대화에서 10000개의 샘플을 추출한다.

#CSV 변환

In [ ]:
event_conversation_df.to_csv("/content/drive/MyDrive/Dataton/event_conversation.csv", index = False)

csv 파일로 저장한다.

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Dataton/event_conversation.csv")

In [ ]:
df

                                                   text
0      시스템 사진 비행시간봐 엄청나게 오래걸리네 비행기에서 하루 잔다고 생각해 그래 이...
1      아 그 호텔 나도 예약할 지경이야 이면 옆방으로다가요 그래도 괜찮은 호텔인데 뭐지...
2      오 이래도 되나 싶을정도로 신호에 걸리는군 내려서 뛰가는게 빠를듯 웨이팅 많아 걸...
3      으로 봄 일단 왜죠 나 월 일부터 쉰다구 근데 월 일이 목욜이라서 우리 이틀밖에 ...
4      근데 나는 원주간다 엥 금 갑자기 왜가 진짜 갑자기 감다 아빠가 갑자기 가쟤 사촌...
...                                                 ...
9995   코스요리나오면서 식보는거야 먹으면서동시에 엄청비싸겠다 코스면 모르지 식 다보고 가...
9996   삼성역 내일 볼까 오호 머리 다자르면 시 반쯤 될텐뎅 아닌가 시인가 삼성역에서 보...
9997   오늘데이트는 꽝인건가요 데이트는 강행입니다 맛난거 사드리지요 아니야 돈도없는데 집...
9998   너 졸업 여름에하지마 땀나서 머리 다 망함 이모티콘 그리고 졸업사진 찍으러가서 이...
9999   아 마쟈 이름 나 방탈출 취소 까먹음 갑자기 전화와서 놀랐네 언능 해야게따 아아아...

[10000 rows x 1 columns]

csv 파일을 불러온다.

#참고문헌

[Python: JSON 개념과 json 모듈 사용법](https://kibua20.tistory.com/114)