#스타워즈 팬이 좋아할 만한 다른 영화 찾기

개발 환경
<br/>데이터 정보

데이터 전처리
<br/>암묵적 피드백
<br/>고유값
<br/>결측치 처리

데이터 탐색
<br/>영화 랭킹
<br/>좋아하는 영화 5편 추가

모델 구성
<br/>Sparse Matrix
<br/>하이퍼 파라미터

모델 학습
<br/>모델 평가

추천시스템
<br/>비슷한 영화 추천
<br/>새로운 영화 추천

결론
<br/>참고문헌

# 개발 환경

In [ ]:
!pip install implicit

In [3]:
import os
import random
import pandas as pd
import numpy as np

In [4]:
import scipy
from scipy.sparse import csr_matrix

In [1209]:
import implicit
from implicit.als import AlternatingLeastSquares

os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [1210]:
pip freeze > '/content/drive/MyDrive/lms/library_version.txt'

In [1211]:
library_name = ['pandas=', 'numpy=', 'scipy=', 'implicit=']
library_version = []
f = open('/content/drive/MyDrive/lms/library_version.txt', 'r')
line = f.readline()
while True:
    line = f.readline()
    if not line:
      break
    for i in library_name:
      if i in line:
        library_version.append(line)
        library_version.append('    ')

f.close()

import sys
print(sys.version)
print()

for i in range(0, len(library_version) - 1, 6):
  print(str(library_version[i : i+6]).replace("[","").replace("]","").replace("'","").replace("\\n","").replace(",",""), end='') 
  if i % 6 == 0:
    print()

for i in range(len(library_version) - 1):
  if (i-1) % 6 == 0 and i == len(library_version) - 6:
    print(str(library_version[-1]).replace("[","").replace("]","").replace("'","").replace("\\n","").replace(",",""), end='')

3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]

implicit==0.5.2      numpy==1.21.6      pandas==1.3.5
scipy==1.4.1      sklearn-pandas==1.8.0

In [ ]:
gpu_info = !nvidia-smi
gpu_info = '\n'.join(gpu_info)
if gpu_info.find('failed') >= 0:
  print('Not connected to a GPU')
else:
  print(gpu_info)

In [ ]:
from psutil import virtual_memory
ram_gb = virtual_memory().total / 1e9
print('Your runtime has {:.1f} gigabytes of available RAM\n'.format(ram_gb))

if ram_gb < 20:
  print('Not using a high-RAM runtime')
else:
  print('You are using a high-RAM runtime!')

Google Colab에서 할당된 GPU를 확인한다.
<br/>고용량 메모리 VM에 액세스한다.

#데이터 정보

[MovieLens 1M Dataset](https://grouplens.org/datasets/movielens/)

GroupLens Research가 [MovieLens web site](https://movielens.org)로부터 수집한 영화 평점 데이터셋이다.
<br/>영화 3,900편에 대한 6,040명의 사용자의 평점으로부터 평점 1,000,209개를 모았다.

논문 [The MovieLens Datasets: History and Contex](https://grouplens.org/blog/movielens-datasets-context-and-history/)에서는 MovieLens 데이터셋의 역사에 대해서 이야기한다.

In [1287]:
rating_file_path = '/content/drive/MyDrive/lms/recommender_system/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [1288]:
movie_file_path = '/content/drive/MyDrive/lms/recommender_system/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

#데이터 전처리

##암묵적 피드백

In [1289]:
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

현재 가지고 있는 데이터는 사용자가 영화의 평점으로 몇 점을 주었냐이다.
<br/>이렇게 서비스를 사용하면서 자연스럽게 발생하는 암묵적(implicit)인 피드백도
<br/>사용자의 아이템에 대한 평가를 알 수 있는 단서가 될 수 있다.

앞으로 만들어갈 모델에서는 암묵적 데이터의 해석을 위해 다음과 같은 규칙을 적용한다.
<br/>3점이 넘으면 선호한다고 판단한다.
<br/>평점을 높게 준 영화에 대해 가중치를 주어서 더 확실히 좋아한다고 판단한다.

##고유값

In [1239]:
num_user = ratings['user_id'].nunique()
num_movie = ratings['movie_id'].nunique()

In [573]:
num_user

6039

In [574]:
num_movie

3628

##결측치 처리

In [1411]:
user = ratings['user_id'].unique()
movie = ratings['movie_id'].unique()

In [1348]:
user_to_idx = {v:k  for k,v in enumerate(user)}
title_to_idx = {v:k for k,v in enumerate(movie)}

In [1349]:
for key, value in user_to_idx.items():
    if 3595 <= key <= 3600: 
      print(key, value)

3595 3594
3596 3595
3597 3596
3599 3597
3600 3598

In [1350]:
condition = (ratings['user_id'] == 3598)
ratings[condition]

Empty DataFrame
Columns: [user_id, movie_id, ratings, timestamp]
Index: []

데이터프레임의 빈 행이 확인된다.

In [1351]:
ratings.isnull().sum()

user_id      0
movie_id     0
ratings      0
timestamp    0
dtype: int64

그러나 결측치가 없다고 하는 모순된 결과가 나온다.

#데이터 탐색

##영화 랭킹

In [1313]:
movies_ratings = pd.merge(movies, ratings)
cols = ['user_id','title', 'ratings']
movies_ratings = movies_ratings[cols]

In [1314]:
movies_ratings

        user_id                  title  ratings
0             1       Toy Story (1995)        5
1             6       Toy Story (1995)        4
2             8       Toy Story (1995)        4
3             9       Toy Story (1995)        5
4            10       Toy Story (1995)        5
...         ...                    ...      ...
836473     5682  Contender, The (2000)        3
836474     5812  Contender, The (2000)        4
836475     5831  Contender, The (2000)        3
836476     5837  Contender, The (2000)        4
836477     5998  Contender, The (2000)        4

[836478 rows x 3 columns]

In [1315]:
movies_ratings['title'] = movies_ratings['title'].str.lower() 
movies_count = movies_ratings.groupby('title')['user_id'].count()
popluar_thirty_movies = movies_count.sort_values(ascending=False)[:30]

In [1294]:
popluar_thirty_movies = pd.DataFrame(popluar_thirty_movies.reset_index())
popluar_thirty_movies.index = popluar_thirty_movies.index + 1
popluar_thirty_movies = popluar_thirty_movies.reset_index()

In [1295]:
popluar_thirty_movies.columns = ['rank', 'title', 'counts']
popluar_thirty_movies = popluar_thirty_movies[['title', 'rank', 'counts']]

In [1296]:
popluar_thirty_movies

                                                title  rank  counts
0                              american beauty (1999)     1    3211
1           star wars: episode iv - a new hope (1977)     2    2910
2   star wars: episode v - the empire strikes back...     3    2885
3   star wars: episode vi - return of the jedi (1983)     4    2716
4                          saving private ryan (1998)     5    2561
5                   terminator 2: judgment day (1991)     6    2509
6                    silence of the lambs, the (1991)     7    2498
7                      raiders of the lost ark (1981)     8    2473
8                           back to the future (1985)     9    2460
9                                  matrix, the (1999)    10    2434
10                               jurassic park (1993)    11    2413
11                            sixth sense, the (1999)    12    2385
12                                       fargo (1996)    13    2371
13                                  braveheart (1995)    14    2314
14                                men in black (1997)    15    2297
15                            schindler's list (1993)    16    2257
16                         princess bride, the (1987)    17    2252
17                         shakespeare in love (1998)    18    2213
18                           l.a. confidential (1997)    19    2210
19                   shawshank redemption, the (1994)    20    2194
20                              godfather, the (1972)    21    2167
21                               groundhog day (1993)    22    2121
22                  e.t. the extra-terrestrial (1982)    23    2102
23                        being john malkovich (1999)    24    2066
24                                ghostbusters (1984)    25    2051
25                                pulp fiction (1994)    26    2030
26                                forrest gump (1994)    27    2022
27                             terminator, the (1984)    28    2019
28                                   toy story (1995)    29    2000
29                               fugitive, the (1993)    30    1941

##좋아하는 영화 5편 추가

In [1298]:
favorite_movies_search_keyword = ['star wars: episode v', 'space odyssey', 'titanic', 'lion king', 'pulp fiction']
keyword = '|'.join(favorite_movies_search_keyword)
favorite_movies_ratings = movies_ratings[movies_ratings['title'].str.contains(keyword)]

In [1299]:
favorite_movies_count = favorite_movies_ratings.groupby('title')['user_id'].count()
favorite_movies_search = favorite_movies_count.sort_values(ascending=False)
favorite_movies_search = pd.DataFrame(favorite_movies_search.reset_index())
favorite_movies_search.columns = ['title', 'counts']

In [1300]:
favorite_movies_search

                                               title  counts
0  star wars: episode v - the empire strikes back...    2885
1  star wars: episode vi - return of the jedi (1983)    2716
2                                pulp fiction (1994)    2030
3                       2001: a space odyssey (1968)    1568
4                                     titanic (1997)    1270
5                              lion king, the (1994)    1029
6                                     titanic (1953)     179
7                           raise the titanic (1980)      20
8             chambermaid on the titanic, the (1998)      15

좋아하는 영화가 데이터셋에 존재하는지 검색한다.

In [1301]:
favorite_title_list = ['star wars: episode v - the empire strikes back (1980)', 'pulp fiction (1994)',
                       '2001: a space odyssey (1968)', 'titanic (1997)', 'lion king, the (1994)']

In [1316]:
favorite_ratings_list = []
ratings_list = [4, 5]

for i in range(5):
  if i == 2:
    out = random.sample(ratings_list, i)
    favorite_ratings_list.append(out)
  elif i >= 3:
    out = random.sample(ratings_list, i-2)
    favorite_ratings_list.append(out)

favorite_ratings_list = sum(favorite_ratings_list, [])

In [1317]:
favorite_ratings_list

[4, 5, 4, 4, 5]

좋아하는 영화에 랜덤으로 평점을 부여한다.

In [1318]:
favorite_movies = pd.DataFrame({'user_id': ['6041']*5,
                            'title': favorite_title_list,
                            'ratings':favorite_ratings_list})

if not movies_ratings.isin({'user_id':['6041']})['user_id'].any():  
    movies_ratings_update = movies_ratings.append(favorite_movies) 

movies_ratings_update = movies_ratings_update.astype({'user_id':'int'})
movies_ratings_update = movies_ratings_update.sort_values(by='user_id')
movies_ratings_update = movies_ratings_update.reset_index()
movies_ratings_update = movies_ratings_update[['user_id', 'title', 'ratings']]

In [1319]:
movies_ratings_update

        user_id                                              title  ratings
0             1                                   toy story (1995)        5
1             1                          secret garden, the (1993)        4
2             1                            schindler's list (1993)        5
3             1                           wizard of oz, the (1939)        4
4             1                                     titanic (1997)        4
...         ...                                                ...      ...
836478     6041                                     titanic (1997)        4
836479     6041  star wars: episode v - the empire strikes back...        4
836480     6041                                pulp fiction (1994)        5
836481     6041                       2001: a space odyssey (1968)        4
836482     6041                              lion king, the (1994)        5

[836483 rows x 3 columns]

좋아하는 영화 5편을 데이터셋에 추가한다.
<br/>새로운 사용자의 데이터가 추가됐으므로 user_id는 6041이다.

#모델 구성

##Sparse Matrix

Matrix Factorization(MF)

협업 필터링(Collaborative Filtering)은 평가 행렬을 전제로 한다.

m명의 사용자가 n편의 영화에 대해
<br/>평가한 데이터를 포함한 (m,n) 사이즈의 평가 행렬(Rating Matrix)을 만든다.

MF 모델은 Rating Matrix R을 두 개의 Feature Matrix P와 Q로 분해한다.

벡터를 만드는 기준은 사용자 i의 벡터(U_i)와 아이템 j의 벡터(I_j)를 내적했을 때 <br/>사용자 i가 아이템 j에 대해 평가한 수치(M_ij)와 비슷한지 아닌지이다.

CSR(Compressed Sparse Row) Matrix

사용자는 6,040명이고 영화는 3,559편이다.
<br/>이를 행렬로 표현하고 행렬의 각 원소에 정수 한 개 (1byte)가 들어간다면
<br/>6040 * 3559 * 1byte ≈ 21.50MB가 필요하다.

모델 학습의 input으로 사용할 데이터 타입을 CSR Matrix로 한다.
<br/>CSR Matrix는 Sparse한 matrix에서 0이 아닌 유효한 데이터로 채워지는 
<br/>데이터의 값과 좌표 정보만으로 구성하여 메모리 사용량을 최소화하면서도
<br/>Sparse한 matrix와 동일한 행렬을 표현할 수 있도록 하는 데이터 구조이다.
<br/>SCSR Matrix는 data, indices, indptr 로 행렬을 압축하여 표현한다.

In [1618]:
movies_ratings_preprocess = movies_ratings_update.copy()

In [1621]:
user_unique = movies_ratings_preprocess['user_id'].unique()
title_unique = movies_ratings_preprocess['title'].unique()

In [1622]:
user_to_idx = {v:k for k,v in enumerate(user_unique)}
title_to_idx = {v:k for k,v in enumerate(title_unique)}

In [1623]:
temp_user_data = movies_ratings_preprocess['user_id'].map(user_to_idx.get).dropna()

if len(temp_user_data) == len(movies_ratings_preprocess):   
    movies_ratings_preprocess['user_id'] = temp_user_data

In [1624]:
temp_title_data = movies_ratings_preprocess['title'].map(title_to_idx.get)

if len(temp_title_data) == len(movies_ratings_preprocess):
    movies_ratings_preprocess['title'] = temp_title_data

In [1625]:
movies_ratings_preprocess

        user_id  title  ratings
0             0      0        5
1             0      1        4
2             0      2        5
3             0      3        4
4             0      4        4
...         ...    ...      ...
836478     6039      4        4
836479     6039     95        4
836480     6039    284        5
836481     6039    524        4
836482     6039    332        5

[836483 rows x 3 columns]

In [1626]:
csr_data = csr_matrix((movies_ratings_preprocess.ratings, (movies_ratings_preprocess.user_id, movies_ratings_preprocess.title)), shape= (num_user, num_movie))

In [1627]:
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.longlong'>'
	with 836483 stored elements in Compressed Sparse Row format>

##하이퍼파라미터

Implicit Alternating Least Squares 모델을 구성한다.

In [1628]:
als_model = AlternatingLeastSquares(factors=100,
                                    regularization=0.01,
                                    use_gpu=False,
                                    iterations=15,
                                    dtype=np.float32)

factors : 유저와 아이템의 벡터의 차원
<br/>regularization : 과적합을 방지하기 위한 정규화 값
<br/>use_gpu : GPU 사용 여부
<br/>iterations(epochs) :  학습 횟수

#모델 학습

In [1629]:
als_model.fit(csr_data)

  0%|          | 0/15 [00:00<?, ?it/s]

#모델 평가

In [1630]:
new_user = list(user_to_idx.items())[-1][0]
new_user_vector = als_model.user_factors[-1]

In [1631]:
favorite_title_list = ['star wars: episode v - the empire strikes back (1980)', 'pulp fiction (1994)',
                       '2001: a space odyssey (1968)', 'titanic (1997)', 'lion king, the (1994)']

favorite_vector_list = []

for i in favorite_title_list:
  favorite_movie_idx = title_to_idx[i]
  favorite_movie_vector = als_model.item_factors[favorite_movie_idx]
  favorite_vector_list.append(favorite_movie_vector)

In [1632]:
favorite_preference = pd.DataFrame(index=range(0, 1), columns = {'0'})

for i in range(len(favorite_vector_list)):
  favorite_preference_list = []
  favorite_preference_list.append(favorite_title_list[i])
  favorite_preference_list.append(np.dot(new_user_vector, favorite_vector_list[i]))
  favorite_preference_df = pd.DataFrame(favorite_preference_list).transpose()
  favorite_preference =  favorite_preference.append(favorite_preference_df)

favorite_movie_preference = favorite_preference.iloc[1:, :-1]
favorite_movie_preference.columns = ['title', 'preference']

In [1633]:
favorite_movie_preference

                                               title preference
0  star wars: episode v - the empire strikes back...    0.47515
0                                pulp fiction (1994)   0.396951
0                       2001: a space odyssey (1968)   0.452353
0                                     titanic (1997)   0.513186
0                              lion king, the (1994)   0.370988

Alternating Least Squares 모델이 좋아하는 영화에 대한 선호도를 예측한다.

#추천시스템

##비슷한 영화 추천

In [1635]:
idx_to_title = {v:k for k,v in title_to_idx.items()}

In [1636]:
def get_similar_title(title_name: str):
    title_id = title_to_idx[title_name]
    similar_title = als_model.similar_items(title_id)
    similar_title = [idx_to_title[i[0]] for i in similar_title]
    return similar_title

In [1639]:
for i in favorite_title_list:
  print(get_similar_title(i)) 
  print()

['star wars: episode v - the empire strikes back (1980)', 'secret garden, the (1993)']

['pulp fiction (1994)', 'secret garden, the (1993)']

['2001: a space odyssey (1968)', 'secret garden, the (1993)']

['titanic (1997)', 'secret garden, the (1993)']

['lion king, the (1994)', 'secret garden, the (1993)']

AlternatingLeastSquares 클래스에 구현되어 있는
<br/>similar_items 메서드를 통하여 
<br/>좋아하는 영화와 비슷한 영화를 찾는다.

##새로운 영화 추천

In [1674]:
movies_recommended = als_model.recommend(new_user, csr_data, N=20, filter_already_liked_items=True)

ValueError: ignored

In [1682]:
new_user = list(user_to_idx.items())[-3][0]

In [1683]:
movies_recommended = als_model.recommend(new_user, csr_data, N=20, filter_already_liked_items=False)

In [1684]:
for i in range(20):
  print(idx_to_title[movies_recommended[0][i]], movies_recommended[1][i])

titanic (1997) 0.5131856
star wars: episode iv - a new hope (1977) 0.49004206
star wars: episode v - the empire strikes back (1980) 0.47514987
2001: a space odyssey (1968) 0.45235324
pulp fiction (1994) 0.3969513
star wars: episode vi - return of the jedi (1983) 0.3950908
lion king, the (1994) 0.37098843
silence of the lambs, the (1991) 0.34810182
raiders of the lost ark (1981) 0.3470845
star wars: episode i - the phantom menace (1999) 0.33751732
fargo (1996) 0.32770056
usual suspects, the (1995) 0.2910668
e.t. the extra-terrestrial (1982) 0.28160626
shawshank redemption, the (1994) 0.27598026
aladdin (1992) 0.27298298
dr. strangelove or: how i learned to stop worrying and love the bomb (1963) 0.27065587
beauty and the beast (1991) 0.26257196
goodfellas (1990) 0.25521877
sixth sense, the (1999) 0.25275445
l.a. confidential (1997) 0.22651125

In [1685]:
odyssey = title_to_idx['2001: a space odyssey (1968)']
explain = als_model.explain(new_user, csr_data, itemid=odyssey)

In [1686]:
[(idx_to_title[i[0]], i[1]) for i in explain[1]]

[('2001: a space odyssey (1968)', 0.34118212095260525),
 ('star wars: episode v - the empire strikes back (1980)',
  0.06463420741891043),
 ('titanic (1997)', 0.029942815205523544),
 ('lion king, the (1994)', 0.01080593120133216),
 ('pulp fiction (1994)', -0.0030781638342106503)]

#결론

**수정 계획**

결측치 처리

condition = (ratings['user_id'] == 3598)
<br/>ratings[condition]에서 데이터프레임 빈 행이 존재하는데도
<br/>ratings.isnull().sum()하면 결측치가 없다고 한다.
<br/>나중에 결측치를 주제로 공부하여 문제 원인을 분석하고 디버깅한다.

새로운 영화 추천

als_model.recommend에서
<br/>user_items must contain 1 row for every user in userids 에러를 해결한다.
<br/>이에 대한 해결책이 Github Conversation [#365](https://github.com/benfred/implicit/issues/365) [#389](https://github.com/benfred/implicit/pull/389)에 제시된다.
<br/>라이브러리 implicit에서 발생한 에러이다.
<br/>그러나 아직 깃허브의 내용을 이해할 수 있는 수준이 아니므로
<br/>나중에 문제 원인을 분석하고 디버깅이 가능한 수준이 되면
<br/>filter_already_liked_items=True로 설정할 수 있다.

#참고문헌

**LMS**
<br/>[ziminpark](https://github.com/ZiminPark)

<br/>**공식 사이트**
<br/>[MovieLens 1M Dataset](https://grouplens.org/datasets/movielens/)

<br/>**깃허브**
<br/>[영화 추천 시스템.ipynb](https://github.com/PEBpung/Aiffel/blob/master/Project/Exploration/E7.%20%EC%98%81%ED%99%94%20%EC%B6%94%EC%B2%9C%20%EC%8B%9C%EC%8A%A4%ED%85%9C.ipynb)
<br/>[filter_already_liked_items Working for ALS? #365](https://github.com/benfred/implicit/issues/365)
<br/>[Fix rank items in ItemItemRecommender #389](https://github.com/benfred/implicit/pull/389)

<br/>**웹사이트**
<br/>[python 여러 문자열 포함하는 모든 행 검색 - pandas](https://hyang2data.tistory.com/31)
<br/>[파이썬 2차원 리스트를 1차원으로 (flatten)](https://wyatt37.tistory.com/16)
<br/>[Python에서 목록을 Float로 변환](https://www.delftstack.com/ko/howto/python/convert-list-to-float-python/)
<br/>[python 파이썬, pandas 판다스 데이터 값 변경하기, 바꾸기](https://sunning-10.tistory.com/m/entry/python-%ED%8C%8C%EC%9D%B4%EC%8D%AC-pandas-%ED%8C%90%EB%8B%A4%EC%8A%A4-%EB%8D%B0%EC%9D%B4%ED%84%B0-%EA%B0%92-%EB%B3%80%EA%B2%BD%ED%95%98%EA%B8%B0-%EB%B0%94%EA%BE%B8%EA%B8%B0)
<br/>[Day18 넷플릭스 추천 알고리즘을 만들어 볼까?](https://softwareeng.tistory.com/entry/Day18-%EB%84%B7%ED%94%8C%EB%A6%AD%EC%8A%A4-%EC%B6%94%EC%B2%9C-%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98%EC%9D%84-%EB%A7%8C%EB%93%A4%EC%96%B4-%EB%B3%BC%EA%B9%8C)